@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

/* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

button {
  cursor: pointer;
  border: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  background-color: #FBF1E6;
  font-family: "Playfair Display";
}

.container {
  max-width: 1850px;
  margin: 0px auto;
  background-color: #fff;
}

nav {
  max-height: 100px;
  width: 100%;
}

.nav__row {
  height: 9.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #67513B;
}

.nav__row-start {
  padding-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__row-lang {
  padding-left: 10px;
}

.nav__row-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__row-burger {
  padding-right: 42px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 91.8vh;
  width: 100%;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #67513B;
}

.header__row {
  width: 100%;
}

.header__row-right {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 20px;
}

.header__row-shades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row-shades ul {
  width: 100%;
  font-size: 50px;
  padding: 5px 20px 44px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__row-shades ul span {
  font-size: 20px;
  color: #FBF1E6;
}

main {
  color: #513C27;
  height: 100%;
  width: 100%;
}

.main__row-shades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px 0px 0px;
}

.main__row-shades-body {
  width: 50%;
  max-width: 508px;
  margin: 0 auto;
}

.main__row-shades-body-title {
  font-size: 48px;
  padding-bottom: 18px;
}

.main__row-shades-body-text {
  font-family: "Open Sans", sans-serif;
  line-height: 27px;
}

.main__row-shades-img {
  width: 50%;
}

.main__row-golden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__row-sorrento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}