@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

/* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

button {
  cursor: pointer;
  border: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  background-color: #FBF1E6;
  font-family: "Playfair Display";
}

.container {
  max-width: 1850px;
  margin: 0px auto;
  background-color: #fff;
}

nav {
  max-height: 100px;
  width: 100%;
}

.nav__row {
  height: 9.2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #67513B;
}

.nav__row-start {
  padding-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__row-lang {
  padding-left: 10px;
}

.nav__row-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__row-burger {
  padding-right: 42px;
}

.slider {
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  min-width: 0;
}
.slider img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 92vh;
  width: 100%;
  color: #67513B;
}

.header__row {
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.header__row-right {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 20px;
}

.header__row-shades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row-shades ul {
  width: 100%;
  font-size: 50px;
  padding: 5px 20px 44px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__row-shades ul span {
  font-size: 20px;
  color: #FBF1E6;
  background-image: url(../img/icons/mainLine.png);
  background-repeat: no-repeat;
  padding-left: 85px;
  background-position: left;
}

main {
  color: #513C27;
  height: 100%;
  width: 100%;
}

.row {
  overflow: hidden;
  max-height: 900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0px 2px 0px;
}

.title {
  font-size: 48px;
  padding-bottom: 18px;
}

.text {
  font-family: "Open Sans", sans-serif;
  line-height: 27px;
  padding-bottom: 76px;
}

.main__img {
  width: 50%;
}
.main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.row-body {
  overflow: hidden;
  padding: 10px;
  width: 50%;
  max-width: 508px;
  margin: 0 auto;
}

.sub-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__row-shades {
  background-image: url(../img/mainL.png);
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.main__row-shades:hover {
  background-position: 0% 20%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.sliders__row {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slider__row-arrows {
  text-align: center;
  width: 20%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.slider__row-arrows :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  position: relative;
  top: 5px;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.slider__row-line {
  line-height: 40px;
  overflow: hidden;
  width: 60%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.slider__row-line :hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.slider__row-pages {
  text-align: center;
  width: 20%;
}
.slider__row-pages span {
  color: #67513B;
  opacity: 0.5;
  font-size: 19px;
}
.slider__row-pages p {
  font-size: 30px;
}

.main__row-golden-body {
  background-image: url(../img/icons/footerStar.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.main__row-sorrento-body {
  background-image: url(../img/mainS.png);
  background-repeat: no-repeat;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.main__row-sorrento-body:hover {
  background-position: 0% 20%;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.main__row-sorrento-body-img {
  height: 80%;
}
.main__row-sorrento-body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__row-sorrento-body-right {
  width: 60%;
}

.main__row-sorrento-body-right-slider {
  height: 20%;
}

.main-gallery {
  padding-bottom: 130px;
}

.main-gallery__row {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.main-gallery__row-left {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20%;
  padding-left: 100px;
}
.main-gallery__row-left .gallery-left1 {
  max-width: 420px;
  padding-right: 15px;
}
.main-gallery__row-left .gallery-left2 {
  max-width: 240px;
  background-color: pink;
}

.main-gallery__row-left-body__text p {
  text-align: right;
  padding-top: 12px;
  padding-bottom: 40px;
  padding-right: 25px;
  color: #67513B;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.155em;
}

.main-gallery__row-left-body__text-title {
  font-style: italic;
  font-size: 65px;
  color: #E7E3E0;
  padding-left: 20px;
}

.main-gallery__row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-gallery__row-center img {
  padding-bottom: 10px;
}
.main-gallery__row-center img:first-child {
  max-width: 420px;
  width: 110%;
}
.main-gallery__row-center img:last-child {
  max-width: 300px;
}

.main-gallery__row-right {
  min-width: 20%;
  margin-left: -115px;
}

footer {
  color: #A49D96;
  font-family: "Open Sans";
  font-weight: 300;
}

.footer__info {
  max-width: 80%;
  margin: 0 auto;
}

.footer__info-title {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  padding-bottom: 46px;
}

.footer__info-text {
  padding-bottom: 46px;
}

.footer__priorities {
  max-width: 80%;
  margin: 0 auto;
}

.footer__priorities-title {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  padding-bottom: 46px;
}

.footer__priorities-text {
  padding-bottom: 58px;
}

.footer__priorities-close {
  display: inline;
  text-align: center;
}

.footer__email {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email__choose {
  cursor: pointer;
}
.email__choose ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email__choose ul li {
  padding: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#brides, #salons, #feedbacks {
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

input[type=email], input[type=text], input[type=phone] {
  width: 60%;
  color: #67513B;
  padding: 8px;
  font-size: 14px;
  line-height: 151.7%;
  border: none;
  border-bottom: 1px #A49D96 solid;
}

.footer__email-title {
  font-family: "Playfair Display";
  padding-top: 77px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  font-size: 21px;
  line-height: 151.7%;
  padding-bottom: 46px;
}

.footerHr {
  max-width: 100%;
}

.footer-bootom__row {
  font-size: 12px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-news {
  background-image: url(../img/icons/footerNews.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 15px;
  background-position: left;
}

.footer-geo {
  background-image: url(../img/icons/footerGeo.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 15px;
  background-position: left;
}

.footer-bootom__row-left {
  width: 33%;
  color: #000000;
}
.footer-bootom__row-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: spapce-around;
      -ms-flex-pack: spapce-around;
          justify-content: spapce-around;
}
.footer-bootom__row-center {
  width: 33%;
  text-align: center;
}

.footer-bootom__row-right {
  width: 33%;
}
.footer-bootom__row-right ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-subTitle {
  text-align: center;
  padding-bottom: 13px;
}

.footer-copyright {
  height: 30px;
  background-color: #FBF1E6;
}

.footer-copyright__row {
  font-size: 10px;
  line-height: 151.7%;
  color: #A49D96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-copyright__row span {
  color: #000;
}

.footer-copyright__row-left {
  font-size: 10px;
  line-height: 151.7%;
  color: #A49D96;
}
.footer-copyright__row-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-copyright__row-left ul li {
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .header__row {
    display: none;
  }
}
@media (max-width: 992px) {
  .title {
    text-align: center;
  }

  .row {
    padding: 50px 0px 0px 0px;
  }

  .main__row-shades-img {
    display: none;
  }

  .main__row-golden-img {
    display: none;
  }

  .main__row-sorrento-body-right {
    display: none;
  }

  .slider__row {
    display: none;
  }

  .main-gallery__row {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0px;
  }

  .main-gallery__row-left {
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }

  .main-gallery__row-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-gallery__row-right {
    margin-left: 0px;
  }

  .footer-bootom__row-left li {
    margin-left: 10px;
  }

  .footer-subTitle {
    display: none;
  }

  .footer-bootom__row-center {
    display: none;
  }

  .footer-bootom__row-left, .footer-bootom__row-right {
    width: 50%;
  }

  header {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .footer__priorities, .footer__info {
    min-width: 90%;
  }

  .row-body {
    width: 70%;
  }

  .main-gallery__row-left-body__text-title {
    font-size: 35px;
  }

  .nav__row-burger {
    padding-right: 5px;
  }

  .nav__row-start {
    padding-left: 5px;
  }
}