@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



.wrapper {
	overflow: hidden;
	min-height: 100%;
	height: 100%;
	background-color: #FBF1E6;
	font-family: "Playfair Display";
}
.container {
	max-width: 1850px;
	margin: 0px auto;
	background-color: #fff;
}
nav{
	max-height: 100px;
	
	width: 100%;
}
.nav__row {
	height: 9.2vh;
	display: flex;
	justify-content: space-between;
	align-items:center;
	color:  #67513B;

}
.nav__row-start {
	padding-left: 42px;
	display: flex;
}
.nav__row-find {}
.nav__row-lang {
	padding-left: 10px;
}
.nav__row-header {
	align-items:center;
}
.nav__row-burger {
	padding-right: 42px;
}
header{
	display: flex;
	align-items: flex-end;
	justify-content:flex-end;
	height: 91.8vh;
	width: 100%;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-position: center;
   background-size: cover;
   color: #67513B;

}
.header__row {
    width: 100%;
}
.header__row-right {
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
	padding: 0px 20px;
	
}
.header__row-shades {
		display: flex;
		justify-content: space-between;
	ul{
		width: 100%;
		font-size: 50px;
		padding: 5px 20px 44px 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		span{
			font-size: 20px;
			color: #FBF1E6;
		}
	}		
}
main{
	color: #513C27;
	height: 100%;
	width: 100%;

}
.row{
	overflow: hidden;
	max-height: 900px;
	height: 100%;
	display: flex;
	width: 100%;
	padding: 100px 0px 0px 0px;
}
.title{
	font-size: 48px;
	padding-bottom: 18px;
}
.text{
	font-family: 'Open Sans', sans-serif;
	line-height: 27px;
	padding-bottom: 76px;
}
.main__img{
	// margin: 0 auto;
	width: 50%;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.row-body{
	overflow: hidden;
	padding: 10px;
	width: 50%;
	max-width: 508px;
	margin: 0 auto;
}
.sub-img{
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.main__row-shades {
	background-image: url(../img/mainL.png);
	background-repeat: no-repeat;
// padding-bottom: 20px;	
}
.main__row-shades-body {


}
.main__row-shades-body-title {
}
.main__row-shades-body-text {
}
.main__row-shades-body-slider {}
.slider__row {
	padding-bottom: 116px;
}
.slider__row-arrows {}
.slider__row-line {}
.slider__row-pages {}

.main__row-golden-img{
	
}
.main__row-shades-body-img {
}
.main__row-shades-img{	
}
.main__row-golden {	
}
.main__row-golden-body {
	background-image: url(../img/icons/footerStar.png);	
	background-repeat: no-repeat;
	background-position: top right;
}
.main__row-golden-body-title {}
.main__row-golden-body-text {}
.main__row-golden-body-slider {}
.main__row-golden-body-img {

}
.main__row-sorrento {
	// height: 100%;

}
.main__row-sorrento-body {
	background-image: url(../img/mainS.png);	
	background-repeat: no-repeat;
}
.main__row-sorrento-body-title {}
.main__row-sorrento-body-text {}
.main__row-sorrento-body-img {
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
	}
}
.main__row-sorrento-body-right {
	width: 60%;
	
	// background-color: red;
	
}
.main__row-sorrento-body-right-slider {
}
.main-gallery {
	padding-bottom: 130px;
	// height: 100%;
	// width: 100%;
}
.main-gallery__row {
	overflow: hidden;
	// height: 830px;
	display: flex;
	// justify-content:flex-center;
}
.main-gallery__row-left {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 20%;
	padding-left: 100px;
	&:first-child{
			max-width: 240px;
			padding-right: 15px;
			// max-height: 420px;
		}
}
.main-gallery__row-left-body {
	img{
		// background-color: red;
		padding-right: 30px;
		max-width: 420px;
	}
}
.main-gallery__row-left-body__text p{
	text-align: right;
	padding-top: 12px;
	padding-bottom: 40px;
	padding-right: 25px;
	color: #67513B;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.155em;
}
.main-gallery__row-left-body__text-title {
	font-style: italic;
	font-size: 65px;
	color:  #E7E3E0;
	padding-left: 20px;
}
.main-gallery__row-center {
	// min-width: 20%;
	display: flex;
	flex-direction: column;
	// justify-content:flex-start;
	img{
		padding-bottom: 10px;
		// width: 100%;
		// height: 100%;
		// object-fit: contain;
		&:first-child{
			max-width: 420px;
			// max-height: 420px;
			width: 110%;
		}
		&:last-child{
			max-width: 300px;
			// height: 100%;
			// max-height: 320px;
			// width: 100%;
		}
	}
}
.main-gallery__row-right {
	min-width: 20%;
	// position: relative;
	// top: 50px;
	// right: 50px;
	margin-left: -115px;
}
.footer__info {}
.footer__info-title {}
.footer__info-text {}
.footer__priorities {}
.footer__priorities-title {}
.footer__priorities-text {}
.footer__priorities-close {}
.footer__priorities-close__row {}
.footer__email {}
.footer__email-title {}
.footer-bootom__row {}
.footer-bootom__row-left {}
.footer-bootom__row-center {}
.footer-bootom__row-right {}
.footer-subTitle {}
.footer-copyright {}
.footer-copyright__row {}
.footer-copyright__row-left {}

@media(max-width: 992px){
	.title{
		text-align: center;
	}
	.row{
		padding: 50px 0px 0px 0px;
	}
	.main__row-shades-img{
			display: none;	
	}
	.main__row-golden-img{
			display: none;	
	}
	.main__row-sorrento-body-right{
		display: none;
	}
	.slider__row{
		display: none;
	}
}